body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  maring: 0;
  padding: 0;
}
.leaflet-control-container:after {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  margin-top: -16px;
  pointer-events: none;
  opacity: 0.8;
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHVJREFUWMPt1rENgDAMRNEPi3gERmA0RmAERgmjsAEjhMY0dOBIWHCWTulOL5UN8VmACpRoUdcAU1v19SQaYYQRRhhhhMmIMV//9WGuG/xudmA6C+YApGUGgNF1b0KKjithhBFGGGGE+Rtm9XfL8CHzS8340hzaXWaR1yQVAAAAAABJRU5ErkJggg==);
}
#layers {
  position: absolute;
  top: 2px;
  left: 2px;
  width: auto;
  height: auto;
  z-index: 2000;
  margin: 0;
  padding: 0;
  display: block;
}
#layers li {
  display: inline-block;
  background: black;
  color: gray;
  border: 1px solid black;
  font-size: 9pt;
  font-family: monospace;
  padding: 1px 2px;
  cursor: pointer;
  margin: 0 2px;
  font-weight: bold;
}
#layers li:hover {
  background: #444;
}
#layers li.active {
  color: lime;
}
#layers li.focus {
  border: 1px solid white;
}
.geojson-anno {
  white-space: nowrap;
  font-size: 13pt;
  font-family: Meiryo, sans-serif;
  font-weight: bold;
  text-shadow: -1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, 1px 1px 0px #fff;
  color: #000000;
  pointer-events: none;
}
